<div class="page-content">
    
    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Page header -->
      
      <!-- /page header -->


      <!-- Content area -->
      <div class="content">

        
              <div class="card text-left">
                <div class="card-body">
                <h1 class="card-title">Bienvenido</h1>
                </div>
              </div>
            
            

      </div>
      <!-- /content area -->


      <!-- Footer -->
     
      <!-- /footer -->

    </div>
    <!-- /main content -->

</div>